body {
    width: 1440px;
    height: 8943px;
    margin: 0 auto;
    display: block;
    background-color: #BEBCFD;
    position: relative;
}
/*Секция с первым экраном*/
.firstscreen {
    height: 1024px;
    width: 1440px;
    position: relative;
}
.researchblock {
    width: 1309px;
    height: 560px;
    margin:202px 66px 262px 65px;
    background-image: url(../imagesproject/researchblock.svg);
    position:absolute;
}
.windowblock {
    width: 487px;
    height: 260px;
    margin: 678px 135px 86px 818px;
    background-image: url(../imagesproject/windowblock.svg);
    position: absolute;
}
.cursor img {
    width: 64px;
    height: 92px;
    position: absolute;
    margin: 249px 360px 212px 880px;
    position: absolute;
}
.researchblock h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 96px;
    margin: 41px 583px 697px 213px;
    position: absolute;
}
.researchblock > h1::before {
    content: '';
    width: 2px;
    height: 77px;
    background-color: #000;
    position: absolute;
    top: 11px;
    right: -9px;
}
.researchblock p {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    margin: 204px 354px 537px 212px;
    position: absolute;
}
.researchblock p + p {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    margin: 318px 513px 577px 210px;
    position: absolute;
}
.researchblock p+p+p {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    margin: 412px 513px 577px 210px;
    position: absolute;
}
.windowblock p {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin: 88px 53px 38px 106px;
    line-height: 52px;
    position: absolute;
}
/* Секция с вводной информацией о шрифте */
.introinf {
    width: 1440px;
    height: 1024px;
    position:relative;
    background-color: white;
}
.searchline {
    width: 773px;
    height: 99px;
    margin:65px 587px 860px 80px;
    background-image: url(../imagesproject/searchline.svg);
    position: absolute;
}
.searchline p {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    margin: 31px 76px 885px 129px;
    position: absolute;
}
.windowblock2 {
    width: 991px;
    height: 644px;
    margin: 231px 360px 149px 89px;
    background-image: url(../imagesproject/windowblock2.svg);
    position: absolute;
}
.windowblock2 h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 128px;
    margin: 141px 164px 381px 115px;
    position: absolute;
} 
.windowblock2 h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin: 296px 164px 263px 121px;
    line-height: 46px;
    position: absolute;
}
.button1 {
    width: 189px;
    height: 54px;
    background-image: url(../imagesproject/button.svg);
    margin: 445px 681px 145px 121px;
    position: absolute;
}
.button1 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 14px 76px 18px;
    position: absolute;
}
.button2 {
    width: 189px;
    height: 54px;
    background-image: url(../imagesproject/button.svg);
    margin: 445px 436px 145px 366px;
    position: absolute;
}
.button2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 14px 45px 18px;
    position: absolute;
}
.mrcursor img { 
    width: 308px;
    height: 505px;
    margin: 402px 59px 118px 1077px;
    position: absolute;
} 
.bubble1 {
    background-image: url(../imagesproject/bubble1.svg);
    width: 396px;
    height: 286px;
    margin: 670px 201px 68px 804px; 
    position: absolute;
}
.bubble1 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 118px 16px 67px 27px;
    line-height: 32px;
    position: absolute;
}
/* Секция с начертаниями */
.fontweight {
    width: 1440px;
    height: 1024px;
    position:relative;
    background-color: white;
    background-image: url(../imagesproject/Font\ weight.svg);
}
.tab {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 19px 507px 985px 814px;
    position: absolute;
}
.weight {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 600;
    top: 141px;
    left: 121px;
    position: absolute;
}
.fontsize img {
    width: 459px;
    height: 22px;
    position: absolute;
    top: 175px;
    left: 735px;
}
.fontsize p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    top: 158px;
    left: 736px;
    position: absolute;
}
div > .light,
.regular,
.semibold,
.bold,
.extrabold {
    margin: 254px 405px 164px 121px;
    position: absolute;
    width: 914px;
    height: 605px;
}
.light h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 8px;
}
.light p {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    position: absolute;
    top: 60px;
}
.regular h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 136px;
}
.regular p {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    position: absolute;
    top: 188px;
}
.semibold h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 264px;
}
.semibold p {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    top: 316px;
}
.bold h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 392px;
}
.bold p {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    top: 444px;
}
.extrabold h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 520px;
}
.extrabold p {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 800;
    position: absolute;
    top: 572px;
}
